/bin/
/build/
/.idea/
/.gradle/
/out/
.settings/
.factorypath
.classpath
.project
.metadata
/jasmin-api/.settings/
/jasmin-api/bin/
/jasmin-api/build/
/jasmin-api/.classpath
/jasmin-api/.project
/jasmin-common/.settings/
/jasmin-common/bin/
/jasmin-common/build/
/jasmin-common/.classpath
/jasmin-common/.DS_Store
/jasmin-common/.project
/jasmin-front-mobile/.settings
/jasmin-front-mobile/bin
/jasmin-front-mobile/build
/jasmin-front-mobile/.classpath
/jasmin-front-mobile/.project
/tomcat.18080/
/tomcat.8080/
/jasmin-messaging/.idea/*
*.iml
target/